doctype html
html.no-js(lang="en")
    include ./header.pug
body
    include ./menu.pug
    .container.main
        h1="All da movies!"
        - if (movies){
            - movies.forEach(function(movie){
            h2 #{movie.name}
            - });
        - } else {
            p No Movie Info Found. GGs. Pls no touch menu.
        - }