.ui.fixed.inverted.menu
            .ui.container
                .header.item 
                    i.film.icon
                    |Movie Night
                a(href="/").item Home
                a(href="/movies/new").item New Post