doctype html
html.no-js(lang="en")
    include ./header.pug
body
    include ./menu.pug
    .ui.main.text.container.segment
        .ui.huge.header New Blog
        form(action="/movies", method="POST")
            input(type="text", name="movie[name]", placeholder="name")
            input(type="text", name="movie[year]", placeholder="year")
            input(type="submit")